body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.card img {
  width: 100%;
}

.price {
  color: green;
  font-weight: bold;
}

.btn {
  background: #25D366;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
}
